.mapContainer {
  max-height: 550px;
  height: 100%;
  width: 100%;
}

.viewSolicitations {
  font-size: 0.9rem;
  font-weight: 600;
  color: #51bbf5;
  cursor: pointer;
  text-decoration: none;
  margin-left: auto;
}
