.postLink {
  color: inherit;
  text-decoration: none;
}

.listContainer {
  margin-top: 50px;
  padding: 10px 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  h2 {
    margin-bottom: 20px;
  }
}

.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  a {
    text-decoration: none;
  }
}
