.userPinContainer {
  border-radius: 50;
  padding: 2;
  background: #28b4e2;
  box-shadow: 0 0 5px 5px #28b3e24b;
}

.userPin {
  width: 20;
  height: 20;
  border-radius: 40;
  z-index: 9;
  background: #00befe;
  border: 1px solid #ffffff;
}
